{:deps true
 :dev-http {8012 "public"}
 :builds {:app {:target :browser
                :output-dir "public/js"
                :module-loader true
                :asset-path "/js"
                :compiler-options {:infer-externs false}
                :modules {:app {:entries [app.main]}}}
          :module {:target :npm-module
                   :output-dir "public/npm"
                   :modules {:app {:entries [app.main]}}}}}
